@charset 'utf-8';

.aligncenter { 
clear: both; 
display: block; 
margin:auto; 
} 

.jm-tit-h3 {
	width: 430px;
	margin: 0 auto;
	
	position: relative;
	text-align: center;
	height: 60px
}

.shopname
{
	color: #fc6e48;
	font-size: 25px;
	font-family: "Microsoft YaHei";
	padding: 0 8px;
	line-height: 40px;
	cursor: pointer;
}

.jm-tit-h4 {
	width: 830px;
	margin: 0 auto;
	
	position: relative;
	text-align: center;
	height: 60px
}

.tipeword
{
	color: #fc6e48;
	font-size: 35px;
	font-family: "Microsoft YaHei";
	padding: 0 8px;
	line-height: 40px;
}




.main1180 {
	width: 1180px;
	margin: 0 auto
}
.main1180 ul li
{
	margin-bottom:30px;
	
}

.main780 {
	width: 780px;
	margin: 0 auto
}


@media screen and (max-width:1180px) {
	.jmck-right {
		left: auto!important;
		margin-left: auto!important;
		right: 20px
	}
}




}


.l-22 {
	line-height: 22px!important
}



.jm-overtop {
	background: url(../images/jimei-topa.png) no-repeat center;
	height: 459px
}



.j-nava {
	height: 70px;
	background-color: #5268fa
}

.j-nava li {
	float: left;
	width: 295px;
	height: 70px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	line-height: 70px;
	cursor: pointer
}

.j-nava li.on {
	padding-top: 14px;
	background: url(../images/jimei-navon.png) no-repeat center;
	margin-top: -14px;
	line-height: 70px
}





.hdxc {
	padding-top: 35px;
	background: url(../images/jimei-hdxc.jpg) top;
	background-color：#000000;
	height: 3180px;
}
.hdxcm{
	
	padding-top: 35px;
	background: url(../images/jimei-hdxc.jpg) no-repeat top;
	background-color：#000000;
	height: 960px;
}



.hdxc h3 span {
	background-color: #161d34
}



